# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
.venv
ENV/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# SQLite database
solved_problems.db
db.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
.idea/
*.idea/
