version: '3'

services:
  web:
    build: .
    command: gunicorn boj_contest.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,172.19.160.1